:root {
    --table-row-fg-secondary: var(--color-fg-primary-subdued);
    --table-row-fg-primary: var(--color-fg-primary-depth);
    --table-header-fg-primary: var(--color-fg-primary-subdued);
    --table-row-border: var(--color-border-primary-light_only);
    --table-row-surface-hovered: var(--color-surface-primary-subdued);
    --table-row-surface-default: var(--color-surface-primary-base);
    --table-bg: var(--color-bg-primary-base);
    --empty_state-icon-purple-fill: var(--color-surface-innovative-transparent);
    --empty_state-icon-purple-stroke: var(--color-fg-innovative-base);
    --empty_state-icon-red-fill: var(--color-surface-negative-transparent);
    --empty_state-icon-red-stroke: var(--color-fg-negative-base);
    --empty_state-icon-green-fill: var(--color-surface-positive-transparent);
    --empty_state-icon-green-stroke: var(--color-fg-positive-base);
    --empty_state-icon-orange-stroke: var(--color-fg-caution-base);
    --empty_state-icon-orange-fill: var(--color-surface-caution-transparent);
    --empty_state-icon-yellow-fill: var(--color-surface-alert-transparent);
    --empty_state-icon-yellow-stroke: var(--color-fg-alert-base);
    --empty_state-icon-blue-fill: var(--color-surface-info-transparent);
    --empty_state-icon-blue-stroke: var(--color-fg-info-base);
    --empty_state-border-secondary: var(--color-border-primary-light_only);
    --empty_state-border-primary: var(--color-border-primary-base);
    --empty_state-fg-tertiary: var(--color-fg-primary-subdued);
    --empty_state-fg-secondary: var(--color-fg-primary-base);
    --empty_state-fg-primary: var(--color-fg-primary-depth);
    --empty_state-bg-secondary: var(--color-bg-primary-depth);
    --empty_state-bg-primary: var(--color-bg-primary-base);
    --empty_state-surface-secondary: var(--color-bg-primary-depth);
    --empty_state-surface-primary: var(--color-surface-primary-depth);
    --card-border-hovered: var(--color-border-primary-base);
    --card-border-selected: var(--color-border-info-base);
    --card-border-secondary: var(--color-border-primary-light_only);
    --card-border-primary: var(--color-border-primary-base);
    --card-fg-tertiary: var(--color-fg-primary-subdued);
    --card-fg-secondary: var(--color-fg-primary-base);
    --card-fg-primary: var(--color-fg-primary-depth);
    --card-bg-secondary: var(--color-bg-primary-depth);
    --card-bg-primary: var(--color-bg-primary-base);
    --card-surface-secondary: var(--color-bg-primary-depth);
    --card-surface-primary: var(--color-surface-primary-depth);
    --text-secondary: var(--color-fg-secondary);
    --text-primary: var(--color-fg-primary);
    --round_card-live_animation: var(--green-500);
    --round_card-border: var(--color-border-primary-light_only);
    --round_card-time: var(--color-fg-primary-subdued);
    --round_card-stats: var(--color-fg-primary-depth);
    --round_card-name: var(--color-fg-primary-depth);
    --round_card-surface: var(--color-surface-primary-depth);
    --segment_control-border-active: var(--color-fg-primary-depth);
    --segment_control-surface-inactive: var(--color-surface-primary-depth);
    --segment_control-surface-active: var(--color-surface-primary-base);
    --segment_control-fg-inactive: var(--color-fg-primary-subdued);
    --segment_control-fg-active: var(--color-fg-primary-depth);
    --modal-body-surface: var(--color-bg-primary-depth);
    --menu_list-border: var(--color-border-primary-light_only);
    --menu_list-surface: var(--color-surface-primary-base);
    --menu_list_item-hovered: var(--blue-500);
    --menu_list_item-icon: var(--color-fg-primary-base);
    --menu_list_item-fg-hovered: var(--blue-500);
    --menu_list_item-fg-default: var(--color-fg-primary-depth);
    --menu_header-fg-onHighlightedSurface: var(--color-fg-primary-base);
    --menu_header-fg: var(--color-fg-primary-depth);
    --menu_header-surface-highlighted: var(--color-surface-cool-muted);
    --modal-header-cancel-icon: var(--color-fg-primary-base);
    --modal-header-subheading: var(--color-fg-primary-base);
    --modal-header-surface: var(--color-surface-primary-depth);
    --modal-header-heading: var(--color-fg-primary-depth);
    --subhead-fg-tertiary: var(--color-fg-tertiary);
    --avatar-label-description: var(--color-fg-primary-base);
    --avatar-label-subtitle: var(--color-fg-primary-base);
    --avatar-label-title: var(--color-fg-primary);
    --avatar-group-text: var(--color-fg-primary);
    --avatar-group-surface-tertiary: var(--color-surface-muted);
    --avatar-group-surface-secondary: var(--color-surface-overlay);
    --avatar-group-surface-primary: var(--color-surface-tertiary);
    --avatar-status-icon: var(--color-fg-info);
    --avatar-status: var(--color-bg-primary);
    --avatar-surface: var(--color-surface-tertiary);
    --button-success-border-focused: var(--green-300);
    --button-success-text-disabled: var(--color-bg-positive-muted);
    --button-success-text-focused: var(--color-bg-positive-base);
    --button-success-text-hovered: var(--color-bg-positive-emphasis);
    --button-success-text-default: var(--color-bg-positive-base);
    --button-success-surface-disabled: var(--color-surface-positive-transparent);
    --button-success-surface-focused: var(--color-surface-positive-transparent);
    --button-success-surface-hovered: var(--color-surface-positive-transparent);
    --button-success-surface-default: var(--color-surface-positive-transparent);
    --button-danger-border-focused: var(--red-300);
    --button-danger-text-disabled: var(--color-fg-negative-muted);
    --button-danger-text-focused: var(--color-fg-negative-base);
    --button-danger-text-hovered: var(--color-fg-negative-emphasis);
    --button-danger-text-default: var(--color-fg-negative-base);
    --button-danger-surface-disabled: var(--color-surface-negative-transparent);
    --button-danger-surface-focused: var(--color-surface-negative-transparent);
    --button-danger-surface-hovered: var(--color-surface-negative-transparent);
    --button-danger-surface-default: var(--color-surface-negative-transparent);
    --tab-border-active: var(--color-fg-primary-depth);
    --tab-surface-inactive: var(--color-bg-primary-subdued);
    --tab-surface-active: var(--color-surface-cool-base);
    --tab-fg-inactive: var(--color-fg-primary-subdued);
    --tab-fg-active: var(--color-fg-primary-depth);
    --subhead-fg-secondary: var(--color-fg-secondary);
    --subhead-fg-primary: var(--color-fg-primary);
    --tag-subtle-border-purple: var(--color-border-innovative-base);
    --tag-subtle-border-blue: var(--color-border-info-base);
    --tag-subtle-border-red: var(--color-border-negative-base);
    --tag-subtle-border-orange: var(--orange-400);
    --tag-subtle-border-yellow: var(--color-border-caution-base);
    --tag-subtle-border-green: var(--color-border-positive-base);
    --tag-subtle-icon-purple: var(--neutral-900);
    --tag-subtle-border-default: var(--color-border-primary-inverse);
    --tag-subtle-icon-blue: var(--neutral-900);
    --tag-subtle-icon-red: var(--neutral-900);
    --tag-subtle-icon-orange: var(--neutral-900);
    --tag-subtle-icon-yellow: var(--neutral-900);
    --tag-subtle-icon-green: var(--neutral-900);
    --tag-subtle-icon-default: var(--color-fg-primary-depth);
    --tag-subtle-text-purple: var(--color-fg-innovative-base);
    --tag-subtle-text-blue: var(--color-fg-info-base);
    --tag-subtle-text-red: var(--color-bg-negative-base);
    --tag-subtle-text-orange: var(--orange-500);
    --tag-subtle-text-yellow: var(--color-bg-caution-base);
    --tag-subtle-text-green: var(--color-fg-positive-emphasis);
    --tag-subtle-text-default: var(--color-fg-primary-depth);
    --alert-subtle-surface-purple: var(--neutral-900);
    --tag-solid-border-blue: var(--neutral-900);
    --alert-solid-border-red: var(--neutral-900);
    --tag-solid-border-orange: var(--neutral-900);
    --tag-solid-border-yellow: var(--neutral-900);
    --tag-solid-border-green: var(--neutral-900);
    --tag-solid-border-default: var(--neutral-900);
    --tag-solid-icon-purple: var(--neutral-900);
    --tag-solid-icon-blue: var(--neutral-900);
    --tag-solid-icon-red: var(--neutral-900);
    --tag-solid-icon-orange: var(--neutral-900);
    --tag-solid-icon-yellow: var(--neutral-900);
    --tag-solid-icon-green: var(--neutral-900);
    --tag-solid-text-purple: var(--white);
    --tag-solid-icon-default: var(--neutral-900);
    --tag-solid-text-blue: var(--blue-50);
    --tag-solid-text-red: var(--red-50);
    --tag-solid-text-orange: var(--orange-50);
    --tag-solid-text-yellow: var(--black);
    --tag-solid-text-green: var(--black);
    --tag-solid-text-default: var(--subhead-fg-primary);
    --form-switch-border-disabled-off: var(--color-surface-tertiary);
    --form-switch-border-disabled-on: var(--color-bg-info);
    --form-switch-border-focused-off: var(--color-surface-tertiary);
    --form-switch-border-focused-on: var(--color-bg-info);
    --form-switch-border-hovered-off: var(--color-surface-tertiary);
    --form-switch-border-hovered-on: var(--color-bg-info);
    --form-switch-border-default-off: var(--color-border-secondary);
    --form-switch-border-default-on: var(--color-bg-info);
    --form-switch-button-disabled-off: var(--white);
    --form-switch-button-disabled-on: var(--white);
    --form-switch-button-focused-off: var(--white);
    --form-switch-button-focused-on: var(--white);
    --form-switch-button-default-off: var(--white);
    --form-switch-button-default-on: var(--white);
    --form-switch-surface-disabled-off: var(--color-surface-tertiary);
    --form-switch-surface-disabled-on: var(--color-interaction-primary);
    --form-switch-surface-focused-off: var(--color-surface-tertiary);
    --form-switch-surface-focused-on: var(--color-interaction-primary);
    --form-switch-surface-default-off: var(--color-border-secondary);
    --form-switch-surface-default-on: var(--color-interaction-primary);
    --form-uploader-text-error: var(--color-fg-error);
    --form-uploader-text-warning: var(--color-fg-warning);
    --form-uploader-text-success: var(--color-fg-success);
    --form-uploader-text-uploading: var(--color-fg-primary);
    --form-uploader-text-dropping: var(--color-fg-primary);
    --form-uploader-text-default: var(--color-fg-primary);
    --form-uploader-link-error: var(--color-interaction-primary);
    --form-uploader-link-warning: var(--color-interaction-primary);
    --form-uploader-link-success: var(--color-interaction-primary);
    --form-uploader-link-uploading: var(--color-interaction-primary);
    --form-uploader-link-dropping: var(--color-interaction-primary);
    --form-uploader-link-default: var(--color-interaction-primary);
    --form-uploader-img-error: var(--color-surface-negative-transparent);
    --form-uploader-img-warning: var(--color-surface-alert-transparent);
    --form-uploader-img-success: var(--color-surface-positive-transparent);
    --form-uploader-img-uploading: var(--color-surface-positive-transparent);
    --form-uploader-img-dropping: var(--color-surface-primary-depth);
    --form-uploader-img-default: var(--color-surface-primary-depth);
    --form-uploader-icon-error: var(--color-fg-error);
    --form-uploader-icon-warning: var(--color-fg-warning);
    --form-uploader-icon-success: var(--color-fg-success);
    --form-uploader-icon-dropping: var(--color-fg-success);
    --form-uploader-icon-uploading: var(--color-fg-success);
    --form-uploader-icon-default: var(--color-fg-info);
    --form-uploader-border-error: var(--color-border-primary-base);
    --form-uploader-border-danger: var(--color-border-primary-base);
    --form-uploader-border-success: var(--color-border-primary-base);
    --form-uploader-border-uploading: var(--color-border-primary-base);
    --form-uploader-border-dropping: var(--color-border-primary-subdued);
    --form-uploader-border-default: var(--color-border-primary-base);
    --form-uploader-surface-uploading: var(--color-bg-cool-emphasis);
    --form-uploader-surface-dropping: var(--color-bg-cool-emphasis);
    --form-checkbox-border-disabled: var(--color-interaction-muted);
    --form-checkbox-border-focused: var(--color-border-primary);
    --form-checkbox-border-hovered: var(--color-border-secondary);
    --form-checkbox-border-default: var(--form-input-border-default);
    --form-checkbox-icon-disabled: var(--color-bg-inverse);
    --form-checkbox-icon-focused: var(--color-bg-primary);
    --form-checkbox-icon-hovered: var(--color-bg-primary);
    --form-checkbox-icon-default: var(--color-bg-primary);
    --form-checkbox-surface-disabled-checked: var(--color-interaction-muted);
    --form-checkbox-surface-disabled: var(--color-interaction-muted);
    --form-checkbox-surface-focused-checked: var(--color-interaction-primary);
    --form-checkbox-surface-hovered-checked: var(--color-interaction-primary);
    --form-checkbox-surface-hovered: var(--color-border-secondary);
    --form-checkbox-surface-default-checked: var(--color-interaction-primary);
    --form-checkbox-surface-default: var(--form-input-surface-default);
    --form-input-border-disabled: var(--color-border-primary-depth);
    --form-input-border-error: var(--color-border-error);
    --form-input-border-focused: var(--blue-500);
    --form-input-border-hovered: var(--color-border-cool-emphasis);
    --form-input-border-default: var(--color-border-primary-base);
    --form-input-placeholder-disabled: var(--color-fg-muted);
    --form-input-placeholder-error: var(--color-placeholder-primary);
    --form-input-placeholder-focused: var(--color-placeholder-primary);
    --form-input-placeholder-hovered: var(--color-placeholder-primary);
    --form-input-placholder-default: var(--color-placeholder-primary);
    --form-label-input-count: var(--color-fg-primary-subdued);
    --form-label-icon: var(--color-fg-primary-subdued);
    --form-label-required: var(--color-fg-negative-base);
    --form-label-text: var(--color-fg-primary-depth);
    --form-helper-info: var(--color-fg-info-base);
    --form-helper-warning: var(--color-fg-caution-base);
    --form-helper-error: var(--color-fg-negative-base);
    --form-helper-success: var(--color-fg-positive-base);
    --form-helper-default: var(--color-fg-primary-subdued);
    --form-input-fg-disabled: var(--color-fg-muted);
    --form-input-fg-error: var(--color-fg-primary);
    --form-input-fg-focused: var(--color-fg-primary);
    --form-input-fg-hovered: var(--color-fg-primary);
    --form-input-fg-default: var(--color-fg-primary);
    --form-input-surface-disabled: var(--color-surface-muted);
    --form-input-surface-error: var(--color-surface-secondary);
    --form-input-surface-focused: var(--color-surface-secondary);
    --form-input-surface-hovered: var(--color-surface-secondary);
    --form-input-surface-default: var(--color-surface-secondary);
    --text-tertiary: var(--color-fg-tertiary);
    --navbar-fg-inactive: var(--color-fg-primary-subdued);
    --navbar-fg-active: var(--color-fg-primary-depth);
    --alert-cancel: var(--color-fg-primary-subdued);
    --tag-solid-surface-purple: var(--color-bg-purple);
    --tag-solid-surface-blue: var(--color-bg-info);
    --tag-solid-surface-red: var(--color-bg-error);
    --tag-solid-surface-orange: var(--color-bg-warning);
    --tag-solid-surface-yellow: var(--color-bg-alert);
    --tag-solid-surface-green: var(--color-bg-positive-base);
    --tag-solid-surface-default: var(--color-surface-primary);
    --alert-loading-border: var(--color-border-innovative-base);
    --alert-loading-icon-stroke: var(--color-surface-innovative-base);
    --alert-loading-icon-fill: var(--color-fg-innovative-base);
    --alert-loading-text: var(--color-fg-innovative-base);
    --alert-loading-title: var(--color-bg-innovative-base);
    --alert-loading-surface: var(--color-surface-innovative-transparent);
    --alert-success-border: var(--color-border-positive-base);
    --alert-success-icon-stroke: var(--color-surface-positive-base);
    --alert-success-icon-fill: var(--color-fg-positive-base);
    --alert-success-text: var(--color-fg-positive-base);
    --alert-success-title: var(--color-fg-positive-base);
    --alert-success-surface: var(--color-surface-positive-transparent);
    --alert-info-border: var(--color-border-info-base);
    --alert-error-icon-stroke: var(--color-surface-negative-base);
    --alert-error-icon-fill: var(--color-fg-negative-base);
    --alert-error-text: var(--color-fg-negative-base);
    --alert-error-title: var(--color-fg-negative-base);
    --alert-error-surface: var(--color-surface-negative-transparent);
    --alert-warning-border: var(--color-border-caution-base);
    --alert-warning-icon-stroke: var(--color-surface-caution-base);
    --alert-warning-icon-fill: var(--color-bg-caution-base);
    --alert-info-icon-stroke: var(--color-surface-info-base);
    --alert-warning-text: var(--color-fg-caution-base);
    --alert-info-icon-fill: var(--color-fg-info-base);
    --alert-warning-title: var(--color-fg-caution-base);
    --alert-info-text: var(--color-fg-info-base);
    --alert-warning-surface: var(--color-surface-caution-transparent);
    --alert-info-title: var(--color-fg-info-base);
    --alert-info-surface: var(--color-surface-info-transparent);
    --button-link-text-disabled: var(--color-fg-muted);
    --button-link-text-hovered: var(--color-fg-tertiary);
    --button-link-text-default: var(--color-fg-primary);
    --button-tertiary-border-focused: var(--blue-500);
    --button-outline-border-disabled: var(--color-border-primary-base);
    --button-outline-border-focused: var(--color-bg-info);
    --button-outline-border-hovered: var(--color-border-primary-base);
    --button-outline-border-default: var(--color-border-primary-base);
    --button-secondary-border-focused: var(--blue-500);
    --button-primary-border-focused: var(--blue-500);
    --button-tertiary-text-disabled: var(--color-fg-muted);
    --button-tertiary-text-focused: var(--color-fg-primary);
    --button-tertiary-text-hovered: var(--color-fg-primary);
    --button-tertiary-text-default: var(--color-fg-primary);
    --button-outline-text-disabled: var(--color-fg-muted);
    --button-outline-text-focused: var(--color-fg-primary);
    --button-outline-text-hovered: var(--color-fg-secondary);
    --button-outline-text-default: var(--color-fg-primary);
    --button-secondary-text-disabled: var(--color-fg-primary-subdued);
    --button-secondary-text-focused: var(--color-fg-primary);
    --button-outline-surface-hovered: var(--color-surface-primary-subdued);
    --button-secondary-text-hovered: var(--color-fg-primary);
    --button-secondary-text-default: var(--color-fg-primary);
    --button-tertiary-surface-hovered: var(--color-surface-tertiary);
    --button-secondary-surface-disabled: var(--color-surface-cool-emphasis);
    --button-secondary-surface-focused: var(--color-surface-cool-base);
    --button-secondary-surface-hovered: var(--color-surface-cool-emphasis);
    --button-secondary-surface-default: var(--color-bg-cool-muted);
    --button-primary-text-disabled: var(--color-fg-primary-base);
    --button-primary-text-focused: var(--color-fg-inverse);
    --button-primary-text-hovered: var(--color-fg-primary);
    --button-primary-text-default: var(--color-fg-inverse);
    --button-primary-surface-disabled: var(--color-surface-primary-subdued);
    --button-primary-surface-focused: var(--color-surface-primary-inverse);
    --button-primary-surface-hovered: var(--color-surface-primary-subdued);
    --button-primary-surface-default: var(--color-surface-primary-inverse);
    --body-fg-tertiary: var(--color-fg-primary-subdued);
    --body-fg-secondary: var(--color-fg-primary-base);
    --body-fg-primary: var(--color-fg-primary-depth);
    --body-surface: var(--color-surface-primary-depth);
    --body-bg: var(--color-bg-primary-depth);
}