@import './text.style.css';

:root {
    --color-white-50: #FFFFFF;
    --color-white-100: #FAFAFA;
    --color-white-200: #F0F0F0;
    --color-white-300: #E0E0E0;
    --color-white-400: #C2C2C2;
    --color-white-500: #A8A8A8;
    --color-white-500-5: #0000000D;
    --color-white-500-10: #0000001A;
    --color-white-500-20: #00000033;
    --color-white-600: #8F8F8F;
    --color-black: #050505;
    --color-white-700: #757575;
    --color-white: #FFFFFF;
    --color-white-800: #5C5C5C;
    --color-black-50: #ABABAB;
    --color-black-100: #919191;
    --color-black-200: #787878;
    --color-black-300: #5E5E5E;
    --color-black-400: #444444;
    --color-black-500: #333333;
    --color-black-500-0: #FFFFFF00;
    --color-black-500-5: #FFFFFF0D;
    --color-black-500-10: #FFFFFF1A;
    --color-black-500-20: #FFFFFF33;
    --color-black-600: #272727;
    --color-black-700: #1F1F1F;
    --color-black-800: #1A1A1A;
    --color-black-900: #0A0A0A;
    --color-grey-50: #F7F7F8;
    --color-grey-100: #E8E8ED;
    --color-grey-200: #D1D1DB;
    --color-grey-300: #A9A9BC;
    --color-grey-400: #8A8AA3;
    --color-grey-500: #6C6C89;
    --color-grey-600: #55556D;
    --color-grey-700: #3F3F50;
    --color-grey-800: #282833;
    --color-grey-900: #121217;
    --color-blue-50: #F3FAFF;
    --color-blue-100: #E7F5FF;
    --color-blue-200: #CAE6FF;
    --color-blue-300: #A0D6FF;
    --color-blue-400: #5DB8FF;
    --color-blue-500: #1199FF;
    --color-blue-500-0: #1199FF00;
    --color-blue-500-10: #1199FF1A;
    --color-blue-500-60: #1199FF99;
    --color-blue-600: #0F8AE6;
    --color-blue-700: #0B73BF;
    --color-blue-800: #0A5C99;
    --color-blue-900: #084B7D;
    --color-purple-50: #F7F0FF;
    --color-purple-100: #EEE1FF;
    --color-purple-200: #E3CDFE;
    --color-purple-300: #CFA7FF;
    --color-purple-400: #B578FD;
    --color-purple-500: #9946FC;
    --color-purple-500-0: #9946FC00;
    --color-purple-500-10: #9946FC1A;
    --color-purple-500-60: #9946FC99;
    --color-purple-600: #8122F1;
    --color-purple-700: #6A10D5;
    --color-purple-800: #5F17B5;
    --color-purple-900: #450F85;
    --color-red-50: #FFF1F2;
    --color-red-100: #FFE4E6;
    --color-red-200: #FECDD3;
    --color-red-300: #FDA4AF;
    --color-red-400: #FB7185;
    --color-red-500: #F43F5E;
    --color-red-500-0: #F43F5E00;
    --color-red-500-10: #F43F5E1A;
    --color-red-500-60: #F43F5E99;
    --color-red-600: #E11D48;
    --color-red-700: #BE123C;
    --color-red-800: #9F1239;
    --color-red-900: #881337;
    --color-yellow-50: #FFFCF1;
    --color-yellow-100: #FFFAE4;
    --color-yellow-200: #FEF4CD;
    --color-yellow-300: #FDEBA4;
    --color-yellow-400: #FBDF71;
    --color-yellow-500: #F4D03F;
    --color-yellow-500-0: #F4D03F00;
    --color-yellow-500-10: #F4D03F1A;
    --color-yellow-500-60: #F4D03F99;
    --color-yellow-600: #E1BA1D;
    --color-yellow-700: #BE9C12;
    --color-yellow-800: #9F8312;
    --color-yellow-900: #886E13;
    --color-green-50: #EBFFEE;
    --color-green-100: #E4FFED;
    --color-green-200: #CDFEDE;
    --color-green-300: #A4FDC3;
    --color-green-400: #71FBA1;
    --color-green-500: #3FF47E;
    --color-green-500-0: #3FF47E00;
    --color-green-500-10: #3FF47E1A;
    --color-green-500-60: #3FF47E99;
    --color-green-600: #1DE162;
    --color-green-700: #12BE4E;
    --color-green-800: #129F43;
    --color-green-900: #13883C;
    --color-orange-50: #FFF6F1;
    --color-orange-100: #FFEDE4;
    --color-orange-200: #FEDDCD;
    --color-orange-300: #FDC2A4;
    --color-orange-400: #FB9F71;
    --color-orange-500: #F47B3F;
    --color-orange-500-0: #F47B3F00;
    --color-orange-500-10: #F47B3F1A;
    --color-orange-500-60: #F47B3F99;
    --color-orange-600: #E15E1D;
    --color-orange-700: #BE4B12;
    --color-orange-800: #9F4112;
    --color-orange-900: #883A13;
    --color-pink-50: #FFF1FB;
    --color-pink-100: #FFE4F8;
    --color-pink-200: #FECDF1;
    --color-pink-300: #FDA4E5;
    --color-pink-400: #FB71D6;
    --color-pink-500: #F43FC4;
    --color-pink-500-0: #F43FC400;
    --color-pink-500-10: #F43FC41A;
    --color-pink-500-60: #F43FC499;
    --color-pink-600: #E11DAD;
    --color-pink-700: #BE1290;
    --color-pink-800: #9F1279;
    --color-pink-900: #881369;
    --color-neutral-25: #F7F7F7;
    --color-neutral-50: #F2F2F2;
    --color-neutral-75: #EDEDED;
    --color-neutral-100: #E6E6E6;
    --color-neutral-150: #D9D9D9;
    --color-neutral-200: #CCCCCC;
    --color-neutral-250: #BFBFBF;
    --color-neutral-300: #B2B2B2;
    --color-neutral-400: #999999;
    --color-neutral-500: #808080;
    --color-neutral-600: #666666;
    --color-neutral-700: #4D4D4D;
    --color-neutral-800: #333333;
    --color-neutral-820: #2E2E2E;
    --color-neutral-850: #262626;
    --color-neutral-880: #1F1F1F;
    --color-neutral-900: #1A1A1A;
    --color-neutral-920: #141414;
    --color-neutral-950: #0D0D0D;
}
